  <!DOCTYPE html>
  <html>
    <head>
        <script type="text/javascript" src="document.js"></script>
      <!-- Title of the page -->
      <title>6339</title>
    </head>
      <body>
              <!-- list of files in bucket query -->
        <form action="/task" method="POST">
        <div align="center"> <big> ASSOCIATION RULE MINING </big> </div>
        <table>
    <tr>
        <td>
            <br />Support:<input type="text" name="sup" style="border: 1px solid black" align="center">
        </td>
        <td>
            <br />Confidence:<input type="text" name="confi" style="border: 1px solid black" align="center">
        </td>

          <td>
            <br />Admission Dig:<input type="text" name="Adig" style="border: 1px solid black" align="center">
        </td>
    </tr>
   </table>
   <br>
             <div align="justify"><input type="submit" align="center" style="width:150px; height:50px;" value="Submit" "></div>
        
    </body>
  </html>